
.userDetails {
  font-weight: 4px;
  color: red;
}

.rightColumn {
  width: 50%;
  margin-right: 1%;
  float: left;
}
.leftColumn {
  width: 45%;
  margin-right: 1%;
  float: left;
  text-align: right;
}

.signUpTexts {
  width: 55%;
  margin-right: 1%;
  align-self: center;
  text-align: right;
}

.buttonColumn {
width:55%;
float: right;
align-items: right;
}

h2 {
  text-align: center;
}