body, html {
	background: url("../public/background2.jpg") no-repeat;
	background-size: cover;	
	background-position:center;
	background-attachment: fixed;
	/*height:100%;*/
	text-align:center;
	font-family: 'Roboto Condensed', sans-serif;
}

.overlay {
	 background: rgba(0, 2, 2, .8);
	 height:auto;
}

.Mission {
	position:absolute;
	top:50%;
	left:50%;
    transform: translate(-50%, -50%);
}

label {
	font-size: 15px;
	font-weight: 400;
	color:white;
	margin-top: 8px;
	margin-bottom: 2px;
	width:100%;
	text-align: left !important;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

/*Forms*/
label.black {
	color:#333;
	text-shadow: none;
}

.no-space {
	margin-top: 0px;
}

.form-group {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

/*Modal*/
.left {
	text-align: left;
}

.list-group-item {
	border: none;
	font-size: 15px;
}

/*Text*/
.white, h2 {
	color: white;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.9);
}

h2.black {
	color: #333;
	text-shadow: none;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 100px;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

a {
	color: #5C6A7C;
}

/*Navbar*/
.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

/*Navbar Texts*/
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
	/*font-family: 'Roboto Condensed', sans-serif;*/
	color: white;
	font-size: 20px;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:focus,
.navbar-nav>li>a:active:focus {
    border-bottom: solid #fff;
	color:white;
}

.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
	color:#CFCECE
}

/*Lowers Navbar*/
.navbar-brand { /*ToolShare*/
	line-height: inherit;
}

.navbar-nav {
	margin: 5px;
}

/*Buttons*/
.btn-primary {
	background-color: #435265;
	border-color: #435265;
}

.btn-primary:active, .btn-primary:hover, .btn-primary:focus, .btn-primary:active:focus {
	background-color: #5C6A7C;
	border-color: #5C6A7C;
}